In [1]:
%matplotlib inline
import numpy as np
import pdb
import sklearn.metrics.pairwise as distance
import matplotlib
#matplotlib.use('tkAgg')
import matplotlib.pyplot as plt
import glob
import sys
from matplotlib.ticker import MultipleLocator
import math
import pandas as pd
import time

In [2]:
read = pd.read_csv('u.data', delim_whitespace=True, names=['user_id', 'movie_id', 'rating', 'time'])
read = read.sort_values('time').reset_index(drop=True)
read

       user_id  movie_id  rating       time
0          259       255       4  874724710
1          259       286       4  874724727
2          259       298       4  874724754
3          259       185       4  874724781
4          259       173       4  874724843
...        ...       ...     ...        ...
99995      729       689       4  893286638
99996      729       313       3  893286638
99997      729       328       3  893286638
99998      729       748       4  893286638
99999      729       272       4  893286638

[100000 rows x 4 columns]

In [ ]:
# first we use a 75%-25% train-test split
tau_row = read.loc[75000]
tau = tau_row.time
tau

df_train = read[read['time'] <= tau]
df_test = read[read['time'] > tau]
# now construct the embedding table from training data
unique_id = df_train['user_id'].unique()
unique_movie = read['movie_id'].unique()

table = {}
for uid in unique_id:
    table[uid] = []
    for movie in unique_movie:
        check = df_train.loc[(df_train['user_id'] == uid) & (df_train['movie_id'] == movie)]
        if len(check) > 0:
            if check['rating'].iloc[0] >= 3:
                table[uid].append(1)
            else:
                table[uid].append(0)
        else:
            table[uid].append(0)
    table[uid] = np.array(table[uid])

0.001967906951904297
--Return--
None
> <ipython-input-3-1e171eef8dee>(12)<module>()
     10 unique_id = df_train['user_id'].unique()
     11 print(time.time() - time_start)
---> 12 pdb.set_trace()
     13 unique_movie = read['movie_id'].unique()
     14

In [ ]:
# Now find top k similar users for each user in testing dataset
ks = [1, 5, 10, 20]
test_id = df_test['user_id'].unique()
for k in ks:
    pass
df_test